@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Click button to start scrapeing</h3>
    <p><a href="/Home/ScrapeData" class="btn btn-primary btn-lg">Start Scraping &raquo;</a></p>
</div>

